# ---------------------------------
# Flutter & Dart
# ---------------------------------
.dart_tool/
.packages
.pub/
build/
# Ignora todos los build en cualquier subcarpeta
**/build/

# ---------------------------------
# Android
# ---------------------------------
android/app/build/
**/intermediates/
**/local.properties

# Gradle
.gradle/
**/gradle-wrapper.jar

# ---------------------------------
# iOS
# ---------------------------------
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace
ios/build/
**/*.xcuserstate

# ---------------------------------
# macOS
# ---------------------------------
macos/Pods/
macos/Flutter/ephemeral/
macos/build/

# ---------------------------------
# Web
# ---------------------------------
web/build/

# ---------------------------------
# VS Code
# ---------------------------------
.vscode/

# ---------------------------------
# IDEs y herramientas comunes
# ---------------------------------
.idea/
*.iml

# ---------------------------------
# Archivos del sistema operativo
# ---------------------------------
.DS_Store
Thumbs.db

